<input 
  type="hidden" 
  name="csrf_token" 
  value="{{ csrf_token() }}"
>
<div class="form-group">
  <label for="email">Email</label>
  <input 
    type="email" 
    name="email" 
    class="form-control" 
    value="{{email if email else ''}}"
    {{ "disabled='true'" if disabled_email else ""}}
  >
</div>
<div class="form-group">
  <label for="username">Username</label>
  <input 
    type="text"
    name="username" 
    class="form-control"
    value="{{username if username else ''}}"
  >
</div>
<div class="form-group">
    <h4>Profile Picture</h4>
    <label for="user_file">Upload Your File</label>
    <br>
    <input type="file" name="user_file" >
    <br>
</div>
<div class="form-group">
  <label for="password">Password</label>
  <input type="password" name="password" class="form-control" >
</div>
<div>
  <input type="submit" class="btn btn-primary">
</div>