{% extends "_layout.html" %}
{% block content %}
<div class="container">

  <div class="container" id="about">
    <h2>{{ username }}</h2>
    <img 
      src="{{profile_image_url}}" 
      alt="user-profile-picture"
      class="rounded-circle"
      style="width:80px; height:80px"
    >
  </div>
  <div class="container">
    {% for image in user_images %}
      <div class="image-container">
        <img 
        src="{{image.remote_url}}" 
        alt="img"
        class="w-50">
      </div>
        <a href="/images/{{image.id}}/donations/new">
        <button>Donate</button>
      </a>
      {% endfor %}
  </div>
</div>
{% endblock %}

